article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

.alert-danger-rel {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 20px;
    /*width: 25%;*/
    padding: 10px;
}


    .alert-danger-rel hr {
        border-top-color: #e4b9c0;
    }

    .alert-danger-rel .alert-link {
        color: #843534;
    }

.myButton {
    box-shadow: inset 0px 2px 4px 1px #f5978e;
    background: linear-gradient(to bottom, #9c2a2d 5%, #bf544a 100%);
    background-color: #f24537;
    border-radius: 8px;
    border: 2px solid #9c2a2d;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 18px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #810e05;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #bf544a 5%, #f24537 100%);
        background-color: #bf544a;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.customers-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 30px;
}

    .customers-table td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .customers-table th, #customers td {
        align-items: center;
        align-content: center;
        align-self: center;
    }

    .customers-table tr:nth-child(even) {
        background-color: #f7e8e8;
    }

    .customers-table tr:hover {
        background-color: #c0bbbb;
    }

    .customers-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #993d40;
        color: white;
        text-align: center;
    }

    .customers-table tr {
        text-align: center;
    }

.customers-table-titulos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

    .customers-table-titulos th, #customers td {
        align-items: center;
        align-content: center;
        align-self: center;
    }

    .customers-table-titulos tr:nth-child(even) {
        background-color: #f7e8e8;
    }

    .customers-table-titulos tr:hover {
        background-color: #c0bbbb;
    }

    .customers-table-titulos th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #993d40;
        color: white;
        text-align: center;
    }

    .customers-table-titulos tr {
        text-align: center;
    }



[hidden] {
    display: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a:focus {
    outline: thin dotted;
}

a:active, a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
    width: 45%;
}



@media (min-width:423px) {
    .div.op {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 55%;
    }

    .div-rodape {
        background: #ddd;
        width: 50%;
        margin-left: 35px;
    }

    .ctnFlex {
        display: flex;
    }

    div.op0 {
        width: 18%;
    }

    div.op1 {
        width: 18%;
    }

    div.op2 {
        width: 18%;
    }

    div.op3 {
        width: 18%;
    }

    div.op4 {
        width: 18%;
    }

    .body-rel {
        width: 80%;
    }

.fieldset-data-Extr {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 21%;
}

.fieldset-data {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 21%;
}

.fieldset-data-op {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 54%;
}

.fieldset-data-op2 {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 64%;
}

.fieldset-data-tipos {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    height: 120px;
    width: 65%;
}

.fieldset-op {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    height: 50%;
    width: 100%;
}
}

@media screen and (max-width: 422px) {
    .body.gn-open-all {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
        width: 100%;
    }

    .body.gn-open-all .gn-scroller {
            width: 80%;
    }

    .div-rodape {
        background: #ddd;
        width: 100%;
        margin-left: 35px;
    }

    .div.op {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 55%;
    }

    div.op0 {
        width: 120%;
    }

    div.op1 {
        width: 100%;
    }

    div.op2 {
        width: 100%;
    }

    div.op3 {
        width: 100%;
    }

    div.op4 {
        width: 20%;
    }

    .body-rel {
        width: 40%;
    }

.fieldset-data-Extr {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 21%;
}

.fieldset-data {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 90%;
}

.fieldset-data-op {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 40%;
}

.fieldset-data-op2 {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    width: 64%;
}

.fieldset-data-tipos {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    height: 120px;
    width: 65%;
}

.fieldset-op {
    /*border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;*/
    height: 50%;
    width: 100%;
}
}

.legend-fielset {
    border: 0;
    padding: 0;
    font-weight: bold;
}

.legend {
    border: 0;
    padding: 0;
    font-weight: bold;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button, input {
    line-height: normal;
}

button, select {
    text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled], html input[disabled] {
        cursor: default;
    }

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
